.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background: white;
}

/* .nav-logo{
    margin-top: 0px;
    width:180px
}
.nav-profile{
    width: 50px;
}
@media(max-width:800px)
{
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
    width: 130px;}
    .nav-profile{
        width: 35px;
    }
} */
